#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.icon
{
  width: 70px;
  height: 80px;
}
#loader {
  position: absolute;
  z-index: 1;
  border: 16px solid;
  border-radius: 50%;
  border-top: 16px solid white;
  width: 70px;
  height: 70px;
  margin-left: 25px;
  margin-top: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
  margin-left: 60px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#placar
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
  font-family: 'Roboto Mono', monospace;
}
#divplacar
{
  width: 100%;
  display: flex;
  justify-content: center;
}
#divplacar div
{
  margin-right: 340px;
}
#divplacar #placarPC
{
  margin-left: 110px;
}
#pc
{
  width: 230px;
}

#centro
{
  width: 430px;
}

#user
{
  width: 230px;
}
#iconpc
{
  display: none;
  margin-left: 30px;
}
#imgJOGO
{
  width: 340px;
}
#iconuser
{
  display: none;
  margin-left: -30px;
}
#jogadas
{
  display: flex;
  justify-content: center;
  margin-left: 6px;
}
#jogadas div
{
  margin-right: 140px;
}

#pedra
{
  cursor: pointer;
}
#papel
{
  cursor: pointer;
}
#tesoura
{
  cursor: pointer;
}
#painelbotoes
{
  display: none;
}
#botaojogar
{
  width: 120px;
  height: 50px;
  margin-top: 15px;
  margin-left: -80px;
}

#jogarnovamente
{
  width: 210px;
  margin-top: 15px;
  display: none;
  margin-left: 520px;

}
#voltar
{
  margin-right: 8px;
}
#play
{
  margin-left: -40px;
}
#joga
{
  margin-top: -27px;
  margin-left: 34px;
}

